@{
    ViewData["Title"] = "角色表";
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}
<div class="row">
    <div id="toolbar">
        <h1 class="page-title">角色维护</h1>
        <div class="form-inline pull-right " id="toolbutton">
        </div>

    </div>
    <div id="ctrltable">

    </div>
</div>
<script type="text/javascript">

    var $grid = $("#ctrltable").ctrlGrid({
        id: "#ctrltable",
        url: "/sysManage/role/GetPagingRole",
        columns: [
            { field: "name", title: "角色名称", width: 150, sort: false, align: "center" },
            {
                field: "isFreeze", title: "冻结", width: 50, sort: false, align: "center", forrmatter(obj) {
                    if (obj.isFreeze) {
                        return '<p>冻结</p>';
                    }
                    return '<p class="bg-primary">未冻结</p>';
                }},
            { field: "createTime", title: "创建时间", width: 210, sort: false, align: "center" },
            { field: "createUserName", title: "创建人", width: 150, sort: false, align: "center" },
            { field: "updateTime", title: "修改时间", width: 210, sort: false, align: "center" },
            { field: "updateUserName", title: "修改人", width: 150, sort: false, align: "center" },
            { field: "orderNo", title: "排序", width: 100, sort: false, align: "center" },
            { field: "remark", title: "备注", width: 100, sort: false, align: "center" }
        ],
        pagination: true,
        searchnation: true,
        pagerow: 15,
        Sidx: "createtime",
        Sord: "desc",
        Serial: true
    });
    function btn_add_box() {
        $.windowsOpen("/sysManage/Role/Edit", "新增角色", '55%', '55%');
    }

    function btn_edit_box() {
        var obj = $grid.gridRowValue();
        if (obj == null) {
            $.Alert({ resultSign: 1, message: "请选择一条数据！" });
            return false;
        }
        $.windowsOpen("/sysManage/Role/Edit?id=" + obj.roleId, "编辑", '55%', '95%');
    }
  
    $("[name='btn_select_box']").click(function () {
        $grid.registersearchClick();
    })
    function menuPermission() {
        var obj = $grid.gridRowValue();
      
            if (obj==null) {
                $.Alert({ resultSign: 1, message: "请选择一个角色！" });
                return false;
            }
            $.windowsOpen("/sysManage/Role/Chosen?roleid=" + obj.roleId, "模块权限", '20%', '60%');
       
    }
    function buttonPermission() {
        var obj = $grid.gridRowValue();
            if (obj==null) {
                $.Alert({ resultSign: 1, message: "请选择一个角色！" });
                return false;
            }
            $.windowsOpen("/sysManage/Role/ChosenButton?roleid=" + obj.roleId, "按钮权限", '60%', '60%');
    }

    function btn_delete_box() {
        var obj = $grid.gridRowValue();
        if (obj == null) {
            $.Alert({ resultSign: 1, message: "请选择要删除的项！" });
            return false;
        }
        Swal.fire({
            title: '是否删除该数据?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '删除',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.value) {
                $delete("/SysManage/Role/Delete", { id: obj.roleId }).then(function (data) {
                    $.Alert(data, function () {
                        $grid.registersearchClick();
                    });
                })
            }
        })
    }

</script>